:root {
    --myblue: #5fafe0;
    --myyellow: #fdc357;
    --mygreen: #afbc26;
    --mypink: #f5a0b5;
    --myblack: #292929;
    --mywhite: #ffffff;
}

/* font-family: 'Major Mono Display', monospace; */

body {
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items: center;
    min-height:100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

a:hover {
    font-style: italic;
    
}

h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.2px;
    font-size: 40px;
    line-height: 52px;
    color: var(--myblack);
    font-weight: 800;
    font-style: normal;
    margin-top: 1.19em; 
    margin-bottom: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 32px;
    color: #292929;
    font-weight: 600;
    font-style: normal;
    padding-top: 18px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #757575
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    color: #757575
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #757575
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: var(--myblack);
    font-weight: 300;
    font-style: normal;
}

.teeny {
    font-size: 16px;
}

.icon {
    width: 100px;
    height: 100px;
    padding: 5px;
}

.emoji-icon {
    font-size: 90px;
    padding-bottom: 15px;
}

.start {
    display:flex; 
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
}

.end {
    display:flex; 
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
}

.spaced {
    display:flex; 
    flex-direction:row; 
    justify-content: space-between;
    align-items: center;
}

.center {
    display:flex; 
    flex-direction:row; 
    justify-content: center;
    align-items: center;
}


.menu-item {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: var(--myblack);
    font-weight: 300;
    font-style: normal;
    margin-top: 10px; 
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    color: var(--myblack);
    font-style: normal;   
    text-transform: uppercase; 
    padding-left: 1vw;
    padding-right: 1vw;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: var(--myblack);
    font-weight: 300;
    font-style: normal;
}

.fixed {
    position: fixed;
}

.tl {
    top: 0.8vh;
    left: 3vw;
}

.tr {
    top: 3vh;
    right: 2vw;
}

.bl {
    bottom: 1vh;
    left: 2vw;
}

.br {
    bottom: 1vh;
    right: 2vw;
}

.pad-tb {
    padding: 10px 0px 8px 0px;
}

.t-trim {
    margin-top: -10px;
}

.b-trim {
    margin-bottom: -5px;
}


.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    padding: 10px;
}

.box {
    max-width: 300px;
    align-items: center;
}


.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: var(--myblack);
    padding-right: 25px;
}

.container {
    width: 680px;
    padding-top: 3em;
    padding-bottom: 10vh;
}

.image {
    max-width: 680px;
    max-height: 400px;
    margin-top: 1.19em;
    margin-bottom: 32px;
    border-radius: 5px; 
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.image-container {
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items: center;
    padding-top: 0.19em;
    padding-bottom: 2px;
}

.stack-container {
    display:flex; 
    flex-direction: column; 
    justify-content: left;
    align-items: left;
    margin-top: 0.19em;
    margin-bottom: 2px;
    width: 25ch;
}


.g-highlight {
    border-left: 5px solid var(--mygreen);
    font-style: italic;
    padding-left: 15px;
}

.b-highlight {
    border-left: 5px solid var(--myblue);
    font-style: italic;
    padding-left: 15px;
}

.p-highlight {
    border-left: 5px solid var(--mypink);
    font-style: italic;
    padding-left: 15px;
}

.y-highlight {
    border-left: 5px solid var(--myyellow);
    font-style: italic;
    padding-left: 15px;
}

.g {
    color: var(--mygreen);
}

.y {
    color: var(--myyellow);
}

.b {
    color: var(--myblue);
}

.p {
    color: var(--mypink);
}

.w-bg {
    background-color: var(--mywhite);
}

.bl-bg {
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    /* box-shadow: 0 0 5px 10px rgba(255, 255, 255, 1); */

}

.g-bg {
    background-color: var(--mygreen);
    font-weight: 500;
}

.y-bg {
    background-color: var(--myyellow);
    font-weight: 500;
}

.b-bg {
    background-color: var(--myblue);
    font-weight: 500;
}

.p-bg {
    background-color: var(--mypink);
    font-weight: 500;
}

.bold {
    font-weight: 500
}


.box2 {
    width: 450px;
    /* margin: 50px auto; */
    border-radius: 5px;
    border: 1px solid var(--myblack);
    padding: 35px;
    position: relative;
    font-weight:300;
  }
  
  
  /* speech bubble 9 */
  
  .sb9:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--myblack);
    border-bottom: 10px solid transparent;
    right: 75%;
    bottom: -20.5px;
  }
  
  .sb9:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: 75%;
    bottom: -19px;
  }

/* MEDIA */

@media only screen and (max-width: 700px) {
    .container {
        width: 95vw;
    }
    .spaced {
        flex-direction: column; 
    }
    div {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .image {
        max-width: 400px;
        max-height: 300px;
    }
    .menu-item {
        font-size: 14px;
    }
    .grid {
        gap: 30px;
        display:flex; 
        flex-direction:column; 
        justify-content: center;
        align-items: center;
    }
    .box2 {
        width: 80vw;
    }
    p {
        font-size: 16px;
    }
}